@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bakery</h1>
    <p>A dashboard for bakery management</p>

    <div class="bakery-image-holder">
        <img src="./assets/bakery-hero.png" alt="bakery" />
    </div>
</div>
