@model MyBakeryFinal.ViewModels.Customers.IndexVM
@{}

<h2>Customers</h2>


<table class="table">

    <tr>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Address
        </th>
        <th>
            Total orders
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.TotalOrders
            </td>

            <td>
                <a href="/Customers/Edit?id=@item.Id" class="text-primary">Edit</a>
            </td>

            <td>
                <a href="/Customers/Delete?id=@item.Id" class="text-danger" method="delete" onclick="return confirm('Delete Customer?');">Delete</a>
            </td>
        </tr>
    }

</table>

<div class="d-flex justify-center">
    <a href="/Customers/Add" class="btn-success p-3 py-1">Add +</a>
</div>